<div class="menu card">
  <div class="menu-logo">
    <img src="assets/img/logotipo-banner-home.png" alt="" />
  </div>
  <ul class="menu-list">
    <li>
      <a
        routerLink="home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Dashboard
      </a>
      <a
        routerLink="other"
        routerLinkActive="inactive"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Projects
      </a>
      <a
        routerLink="other"
        routerLinkActive="inactive"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Stores
      </a>
      <a
        routerLink="to"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Profile
      </a>
    </li>
  </ul>
</div>
