<div class="home">

  <nav class="navbar is-withe" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="false"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>

  <style>

.column-custom {
  background-color: rgb(255 255 255 / 58%);
  border-radius: .5rem;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 0 #e9765b69;
}
.wrapper {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
}


  </style>

  <div class="wrapper">
    <div class="column-custom">

      <h1>The most popular</h1>
      <div class="flex" style="min-width: 400px;">
        <div class="flex-item">
          <div style="display: block;">
            <canvas baseChart width="550" height="420"
                      [data]="lineChartData"
                      [options]="lineChartOptions"
                      [type]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>

    </div>
    <div class="column-custom">

      <div class="flex" style="min-width: 400px;">
        <div class="flex-item">
          <div style="display: block;">
          <canvas baseChart width="550" height="420"
                      [data]="lineChartData"
                      [options]="lineChartOptions"
                      [type]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="flex-item">
          <div class="button-row" style="justify-content: space-evenly; display: flex;">
            <button mat-button mat-raised-button color="primary" (click)="randomize()">Randomize</button>
            <button mat-button mat-raised-button color="primary" (click)="pushOne()">Push</button>
            <button mat-button mat-raised-button color="primary" (click)="changeColor()">Recolor</button>
            <button mat-button mat-raised-button color="primary" (click)="hideOne()">Toggle Series B</button>
            <button mat-button mat-raised-button color="primary" (click)="changeLabel()">Change Label</button>
          </div>
        </div>
      </div>

    </div>
    <div class="column-custom">3</div>
  </div>

  <section>

    <div class="container is-max-desktop">
        <div class="notification is-primary">
          This container is <strong>centered</strong> on desktop and larger viewports.
        </div>
      <h1>Projectos De Construcción</h1>
      <div *ngIf="stores$ | async as stores">
        <div *ngFor="let store of stores">
          <app-store [store]="store"></app-store>
        </div>
      </div>


  <div class="flex" style="max-width: 400px;">
    <div class="flex-item">
      <div style="display: block;">
      <canvas baseChart width="400" height="400"
                  [data]="lineChartData"
                  [options]="lineChartOptions"
                  [type]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="flex-item">
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartData.labels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData.datasets; let i=index" [class]="'line-'+i">
          <td *ngFor="let label of lineChartData.labels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
      <div class="button-row">
        <button mat-button mat-raised-button color="primary" (click)="randomize()">Randomize</button>
        <button mat-button mat-raised-button color="primary" (click)="pushOne()">Push</button>
        <button mat-button mat-raised-button color="primary" (click)="changeColor()">Recolor</button>
        <button mat-button mat-raised-button color="primary" (click)="hideOne()">Toggle Series B</button>
        <button mat-button mat-raised-button color="primary" (click)="changeLabel()">Change Label</button>
      </div>
    </div>
  </div>
</div>
</section>

</div>
